.indexh1{
    font-size:42px;
    color: #4B0082; 
}

html{
    border-style: solid;
    border-color:#4B0082;
    font-family: sans-serif;
    color: #B22222;
}
.todo{
    font-weight:bold;
    color:#8A2BE2;
    background-color:#DDA0DD;
    border-radius:50px;
    font-size:14px;
    padding:5px 10px 5px 10px;
}
#submit-button:active{
    font-size:25px;
    box-shadow:1px 1px 1px #90A4AE;
}

li{
    padding:5px;
    margin-bottom: 10px;
}

a{
    padding: 8px;
    background-color:#ddddd;
}

body{
    background: url(https://s-media-cache-ak0.pinimg.com/originals/c6/20/ca/c620caef7766c43a20b3ab81b2ebcbc0.png);
    background-size:cover;
}
