h1{
    font-size:42px;
    color: #4B0082; 
}
html{
    border-style: solid;
    border-color:#4B0082;
    font-family: sans-serif;
    color: #B22222;
}
.todo{
    font-weight:bold;
    color:#8A2BE2;
    background-color:#DDA0DD;
    border-radius:50px;
    font-size:14px;
    padding:5px 10px 5px 10px;
}
#submit-button:active{
    font-size:25px;
    box-shadow:1px 1px 1px #90A4AE;
}
li{
    padding:5px;
    margin-bottom: 10px;
}