h1{
    color:#4B0082;
    border: 50px;
    padding: 25px;
    border-style: solid;
}
p1{
    display:block;
}
p2{
    display:block;
}
p3{
    display:block;
}
p4{
    display:block;
}
p5{
    display:block;
}
p6{
    display:block;
}
p7{
    display:block;
}
p8{
    display:block;
}